# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
#Virtualenv stuff

Include/
Lib/
man/
Scripts/
tcl/
MANIFEST.in
pip-selfcheck.json

wc18/__pycache__/wc18.cpython-36.pyc

wc18/__pycache__/teamsgroups.cpython-36.pyc
